.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.chatView{
  /* border:0.5rem solid #01aaad; */
  text-align: left;   
  font-size:50px;
  padding:4%;

}
p{
  font-size: 50px;
  text-align: left;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.search{
text-align: left;
padding:1em;
margin-top: 1em;
border-radius:1em;
width: 400px;

/* grid-template-columns:  1fr 3fr; */
}
.mainChat{
box-sizing: border-box;
height: 1000px;
background-position: left top;
background-repeat: repeat;
  display: grid;
  text-align: center;
  /* border:0.5rem solid #01aaad; */
    grid-template-columns:1fr 3fr;
    grid-template-rows: minmax(100%,1fr);
}
.chats{
  text-align: left;
    /* font-size:3rem;  */
}

.App-intro {
  font-size: large;
}
li{
  font-size:2rem;
  /* border:1rem solid black; */
  width:3rem;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

