.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.select-comp {
  color: white;
  background-color: rgb(28, 223, 158);
  border: 3px solid;
  border-radius: 3px;
  font-size: 100%;
  text-align: center;
  border: 1px solid #ccc;
  width: 50%;
  margin-top: 20%;
  margin-bottom: 10%;
  position: relative;
  display: block;
  -webkit-appearance: none;
}

.text-input {
  margin: 10px;
  margin-top: 60px;
}

.button-submit {
  margin: 1px;
}

.speech-bubble {
  position: relative;
  background: #01aaad;
  border-radius: 0.4em;
  width: 18rem;
  font-size: 2rem;
  margin: auto;
  padding-bottom: 10px;
  margin-top: 20px;
}

.speech-bubble:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 0.938em solid transparent;
  border-left-color: #01aaad;
  border-right: 0;
  border-bottom: 0;
  margin-top: -0.469em;
  margin-right: -0.937em;
}

.imgPreview {
  text-align: center;
  margin: 5px 15px;
  height: 200px;
  width: 200px;
  border-left: 1px solid rgb(212, 210, 210);
  border-right: 1px solid rgb(212, 210, 210);
  border-top: 5px solid rgb(212, 210, 210);
  border-bottom: 5px solid rgb(212, 210, 210);
}
.imgPreview > img {
  width: 100%;
  height: 100%;
}

.previewText {
  width: 100%;
  margin-top: 5%;
}

.submitButton {
  padding: 12px;
  margin-left: 10px;
  background: rgb(236, 234, 234);
  border: 2px solid #26aaada8;
  border-radius: 4.5px;
  font-weight: 700;
  font-size: 10pt;
  cursor: pointer;
  width: 50%;
}

.centerText {
  text-align: center;
  width: 50%;
}

