body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
i {
  font-size: 2rem;
  margin: auto;
  color: white;
}
.icon {
  font-size: 1rem;
  margin: auto;
  /* color: #f48138; */
  padding: 1em;
}
.iconBackground {
  background: #f69138;
  width: 3rem;
  border-radius: 25%;
  height: 3rem;
}
img {
  width: 5rem;
  height: 2rem;
  margin: auto;
}
.bar {
  margin-left: 1rem;
}
.btn-success {
  background: none;
  border: 0;
}
.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.show > .btn-success.dropdown-toggle {
  background: none;
  border: none;
  color: #fff;
  background-color: none;
  border-color: none;
}
.btn-success:hover {
  color: #fff;
  background-color: transparent;
  border-color: none;
  border: none;
}
.btn:hover {
  color: #fff;
  background-color: none;
  border-color: none;
  border: none;
}
btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus,
.show > .btn-success.dropdown-toggle:focus {
  box-shadow: none;
  border: none;
}
btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus,
.show > .btn-success.dropdown-toggle {
  box-shadow: none;
  background: none;
  border: none;
}
.dropdown-menu.show {
  background: #5fc1c2;
}
.articleImages {
  width: 10%;
  height: 10%;
  margin: auto;
}
/* .fb_iframe_widget_fluid_desktop,
.fb_iframe_widget_fluid_desktop span,
.fb_iframe_widget_fluid_desktop iframe {
  max-width: 60%;
  margin-left: -6.5em;
} */

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 50rem;
    margin: 1.75rem auto;
  }
}
/* .modal-title {
  background: url(https://images.unsplash.com/photo-1553991499-7dc579547f16?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60);
} */
